body {
    height: 100vh;
}

header {
    width: 100%;
    height: 40px;
}

.menu {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.content {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.main-container {
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-border {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.border-top-left{
    position: absolute;
    left: .5px;
    width: 35px;
    top:1px;
    height: 35px;
    background-image: url('/assets/img/frame2_top_l.png');
    background-size: 36px;
    background-repeat: no-repeat;
}

.border-top {
    position: absolute;
    top:.6px;
    left:35.45px;
    right: 30px;
    width: 96.5vw;
    height: 28px;
    background-image: url('/assets/img/frame2_top.png');
    /* Center the image */
    /* Do not repeat the image */
    background-size: contain;
    background-repeat: repeat-x;
    /* Resize the background image to cover the entire container */

}
.border-top-right{
    position: absolute;
    right: .5px;
    width: 35px;
    scale: -1;
    rotate: -90deg;
    top:1.5px;
    height: 35px;
    background-image: url('/assets/img/frame2_top_l.png');
    background-size: 36px;
    background-repeat: no-repeat;
}
.border-left {
    position: absolute;
    top: 32px;
    width: 50px;
    height: 93%;
    background-image: url('/assets/img/frame2_side.png');
    background-position: center;
    /* Center the image */
    /* Do not repeat the image */
    background-size: contain;
    /* Resize the background image to cover the entire container */

}
.border-right {
    position: absolute;
    top: 32px;
    width: 50px;
    height: 93.5%;
    right: 0;
    transform: scale(-1,1);
    background-image: url('/assets/img/frame2_side.png');
    background-position: center;
    /* Center the image */
    /* Do not repeat the image */
    background-size: contain;
    /* Resize the background image to cover the entire container */

}
.border-bottom-left{
    position: absolute;
    left: 0px;
    width: 35px;
    bottom:1px;
    height: 35px;
    rotate: -90deg;
    background-image: url('/assets/img/frame2_top_l.png');
    background-size: 36px;
    background-repeat: no-repeat;
}

.border-bottom {
    position: absolute;
    bottom:.6px;
    left:32px;
    right: 35px;
    width: 97vw;
    height: 28px;
    rotate: 180deg;
    background-image: url('/assets/img/frame2_top.png');
    /* Center the image */
    /* Do not repeat the image */
    background-size: contain;
    background-repeat: repeat-x;
    /* Resize the background image to cover the entire container */

}
.border-bottom-right{
    position: absolute;
    right: .5px;
    width: 35px;
    scale: -1;
    bottom:.5px;
    height: 35px;
    background-image: url('/assets/img/frame2_top_l.png');
    background-size: 36px;
    background-repeat: no-repeat;
}