<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles_main">
        <app-big-card [photoCover]="data[0].photoCover" [photoSource]="data[0].photoSource" [cardTitle]="data[0].title"
            [cardDescription]="data[0].description" [Id]="data[0].id.toString()"></app-big-card>
    </div>
    <div  class="articles_others">
        <ng-container *ngFor=" let item of data;index as i; first as isFirst">
            <app-small-card  *ngIf="!isFirst"
            [photoCover]="item.photoCover" [cardTitle]="item.title" [cardDescription]="item.description"
                [Id]="item.id.toString()" [photoSource]="item.photoSource"></app-small-card>
        </ng-container>
    </div>
</div>