/* You can add global styles to this file, and also import other style files */
*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
a{
    text-decoration: none;
}
html{
   margin: 0 !important;
   padding: 0 !important; 
}
body{
    width: 100vw;
    height: 100vh;
    display: block;
    background-color: #774a73;
}
body > app-root{
    width: 100%;
    height: 100%;
    display: block;
}
div[ng-view]{
    height: 100%;
}